<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.example.lesson04.mapper.StudentMapper">
 	<insert id="insertStudent" 
 	parameterType="com.example.lesson04.domain.Student"
 	useGeneratedKeys="true" keyProperty="id">
 	<!-- 특정 int값을 리턴하는게 아닌 domain에 채워주는 방식 -->
 		INSERT INTO `new_student`
 		(
 			`name`
			, `phoneNumber`
			, `email`
			, `dreamJob`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{name}
 			, #{phoneNumber}
 			, #{email}
 			, #{dreamJob}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	<select id="selectStudentById" 
 	parameterType="int"
 	resultType="com.example.lesson04.domain.Student">
 		SELECT
 			`id`
 			, `name`
			, `phoneNumber`
			, `email`
			, `dreamJob`
			, `createdAt`
			, `updatedAt`
 		FROM
 			`new_student`
 		WHERE
 			`id` = #{id}
 	</select>
 </mapper>