<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.example.lesson04.mapper.UserMapper">
 	<!-- lesson04 ex01 1 -->
 	<insert id="insertUser" parameterType="map">
 		INSERT INTO `new_user`
 		(
			`name`
			, `yyyymmdd`
			, `email`
			, `introduce`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{name}
 			, #{yyyymmdd}
 			, #{email}
 			, #{introduce}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	<!-- lesson04 ex01 2 -->
 	<select id="selectLatestUser"
 	resultType="com.example.lesson04.domain.User">
 		SELECT
 			`id`
 			, `name`
			, `yyyymmdd`
			, `email`
			, `introduce`
			, `createdAt`
			, `updatedAt`
 		FROM
 			`new_user`
 		ORDER BY `id` DESC
 		LIMIT 1
 	</select>
 	<!-- lesson06 ex02-->
 	<!-- return값이 int라도 boolean으로 하면 0:false 0이아닌 수:true가 된다 -->
 	<select id="isDuplicateName"
 	parameterType="String"
 	resultType="boolean">
 		SELECT
 			COUNT(*)
 		FROM
 			`new_user`
 		WHERE
 			`name` = #{name}
 	</select>
 </mapper>